
<body class="gradient-page">
<% flash.each do |key, message| %>
  <div class="flash-message flash-<%= key %>">
    <%= message %>
  </div>
<% end %>
  <div class="page-container">
    <div class="login-container">
        <h2 class="login-title"> Change Password </h2>
      <%= form_with url: change_password_path, method: :patch, local: true do |f| %>
        <!-- confirm current password -->
        <%= f.label :current_password, "Current Password", class: "form-label"%>
        <%= f.password_field :current_password, required: true, class: "form-input" %>
        <!-- new password -->
        <%= f.label :new_password, "New Password", class: "form-label"%>
        <%= f.password_field :new_password, required: true, class: "form-input" %>

        <!-- confirm new password -->
        <%= f.label :confirm_password, "Current Password", class: "form-label"%>
        <%= f.password_field :confirm_password, required: true, class: "form-input" %>

        <!-- change/submit button -->
        <div class = "login-button-container">
          <%= f.submit "Change Password", class: "login-button" %>
        </div>
      <% end %>
    </div>
  </div>
</body>