<div style="
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  font-family: Arial, sans-serif;
">
  <h1> <%=@user.username %>'s Profile </h1>
  <div style="display: flex; justify-content: center; gap: 20px; margin: 20px 0;">
    <%= link_to 'Edit', edit_user_path(@user),  id="edit-btn", class: 'btn btn-primary' %>
    <%= link_to 'Change Password', forgot_password_path,  id="change-password-btn", class: 'btn btn-warning' %>
  </div>

  <h2 style="margin-top: 10px"> Likes/Dislikes</h2>
  <p> Likes:
    <%=@user.likes %></p>
  <p>Dislikes:
    <%=@user.dislikes %></p>

  <h2 style="margin-top: 10px"> Hobbies/Occupation</h2>
  <p>Hobbies:<%=@user.hobbies %></p>
  <p>Occupation:<%=@user.occupation %></p>

  <h2 style="margin-top: 10px"> Email/Password</h2>
  <p>Email:<%=@user.email %></p>


  <div style="margin-top: 30px">
    <%= button_to 'Delete Account',
                  user_path(@user),
                  method: :delete,
                  data: {confirm: 'Are you sure you would like to delete this account?'},
                  id: 'delete-btn',
                  class: 'btn btn-danger'%>
  </div>

  
</div>