<div style="
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  font-family: Arial, sans-serif;
">
  <h1> <%=@user.username %>'s Profile </h1>
  <div style="display: flex; justify-content: center; gap: 20px; margin: 20px 0;">
    <%= link_to 'Edit Account', edit_user_path(@user), id: "edit-acct-btn", class: "btn btn-primary", style: "
            padding: 12px 28px;
            background-color: #007bff;
            color: white;
            border-radius: 8px;
            text-decoration: none;
            font-size: 1.1rem;
          "%>
    <button type="button" class="btn btn-warning" id="change-password-btn" style="background-color: #ffcc00; padding: 12px 28px;
      border-radius: 8px;
      text-decoration: none;
      font-size: 1.1rem;"
            data-bs-toggle="modal" data-bs-target="#changePasswordModal">
      Change Password
    </button>
  </div>

  <h2 style="border-bottom: 2px solid #ccc; padding-bottom: 5px; margin-bottom: 10px;"> Likes/Dislikes</h2>
  <p> <strong> Likes: </strong>
    <%=@user.likes %></p>
  <p> <strong> Dislikes: </strong>
    <%=@user.dislikes %></p>

  <h2 style="border-bottom: 2px solid #ccc; padding-bottom: 5px; margin-bottom: 10px;"> Hobbies/Occupation</h2>
  <p><strong>Hobbies: </strong>
    <%=@user.hobbies %></p>
  <p><strong>Occupation: </strong>
    <%=@user.occupation %></p>

  <h2 style="border-bottom: 2px solid #ccc; padding-bottom: 5px; margin-bottom: 10px;"> Email/Password</h2>
  <p> <strong> Email: </strong><%=@user.email %></p>


  <div style="margin-top: 30px">
    <%= button_to 'Delete Account',
                  user_path(@user),
                  method: :delete,
                  data: {confirm: 'Are you sure you would like to delete this account?'},
                  id: 'delete-acct-btn',
                  style: "
                  padding: 12px 28px;
        background-color: #ff0000;
        color: Black;
        border-radius: 8px;
        text-decoration: none;
        font-size: 1.1rem; ",
        class: 'btn btn-danger'%>
  </div>
</div>
