<div class="login-container">
  <h1>View Event</h1>

  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% elsif flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>

  <div>
    <%= link_to "Back to All Events", events_path, class: "btn btn-default" %>
  </div>

  <div class="event-detail">
    <p><strong>Date:</strong> <%= @event.event_date %></p>
    <p><strong>Location:</strong> <%= @event.location %></p>
    <p><strong>Budget:</strong> <%= @event.budget %></p>
    <p><strong>Theme:</strong> <%= @event.theme %></p>
  </div>

  <div class="invite-container">
    <h3>Invite a User</h3>
    <%= form_tag invite_event_path(@event), :method => :post, :id => 'invite_event_form' do %>
        <%= text_field_tag :username, nil, placeholder: "Enter username..." %>
        <%= submit_tag "Invite", :id => 'invite-user', class: "btn btn-default" %>
    <% end %>
  </div>
</div>
