<h2>Add Gift Idea</h2>

<%= form_with model: @gift, url: create_gift_path, method: :post do |f| %>

  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :price, "Price" %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.label :purchase_url, "URL" %>
    <%= f.text_field :purchase_url %>
  </div>

  <%= f.submit "Save Gift Idea" %>
<% end %>
