<h2>Add Gift Idea</h2>

<%= form_with model: @gift, url: gift_giver_gifts_path(@gift_giver), id: "new_gift_idea" do |f| %>
  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :price, "Price" %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.label :purchase_url, "URL" %>
    <%= f.text_field :purchase_url %>
  </div>

  <div>
    <%= f.label :status_id, "Status" %>
    <%= f.collection_select :status_id, @statuses, :id, :status_name %>
  </div>

  <%= f.submit "Save Gift Idea" %>
<% end %>
