<!DOCTYPE html>
<html>
<head>
  <title>GiftWise</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "default", "data-turbo-track": "reload" %>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <%= javascript_importmap_tags %>
</head>

<script>
    // Save scroll position before redirecting
    document.addEventListener("turbo:before-visit", () => {
        sessionStorage.setItem("scrollPosition", window.scrollY);
    });

    // Restore scroll position after the page reloads
    document.addEventListener("turbo:load", () => {
        const pos = sessionStorage.getItem("scrollPosition");
        if (pos !== null) {
            window.scrollTo(0, parseInt(pos, 10));
            sessionStorage.removeItem("scrollPosition");
        }
    });
</script>
<body>
<!-- Displaying our Navbar only if we have a user logged in -->
<% if session[:user_id] %>
  <%= render "layouts/navbar" %>
<% end %>

<!--Debug: Displaying the User ID-->
<!--<p>SESSION USER ID: <%#= session[:user_id].inspect %></p>-->

<!--<header>-->
<!--  <h1>GiftWise</h1>-->
<!--</header>-->

<!-- Main Page Content -->
<main>
  <%= yield %>
</main>

<% if session[:user_id] %>
  <%= render "layouts/footer" %>
<% end %>

</body>
</html>