<!DOCTYPE html>
<html>
<head>
  <title>GiftWise</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<!-- Displaying our Navbar only if we have a user logged in -->
<% if session[:user_id] %>
  <%= render "layouts/navbar" %>
<% end %>

<!--<header>-->
<!--  <h1>GiftWise</h1>-->
<!--</header>-->

<!-- Main Page Content -->
<main>
  <%= yield %>
</main>

<!--<footer>-->
<!--  <p>&copy; <%#= Time.current.year %> GiftWise</p>-->
<!--</footer>-->

</body>
</html>
